In [2]:
import pandas as pd

### transform()
Perform standardization of a column based on groups

In [3]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar'],'B' : ['one', 'one', 'two', 'three','two', 'two'],
                   'C' : [1, 5, 5, 2, 5, 5],
                   'D' : [2.0, 5., 8., 1., 2., 9.]})
df

     A      B  C    D
0  foo    one  1  2.0
1  bar    one  5  5.0
2  foo    two  5  8.0
3  bar  three  2  1.0
4  foo    two  5  2.0
5  bar    two  5  9.0

In [4]:
df.groupby('A')['C'].agg(['mean', 'std'])

         mean       std
A
bar  4.000000  1.732051
foo  3.666667  2.309401

In [5]:
df.groupby('A')['C'].transform(lambda x: (x - x.mean()) / x.std())

0   -1.154701
1    0.577350
2    0.577350
3   -1.154701
4    0.577350
5    0.577350
Name: C, dtype: float64

In [6]:
(1 - 3.666667) / 2.309401

-1.1547007210960765

In [7]:
(5 - 4.000000) / 1.732051

0.5773502050459253

Count the number of records in each group and add that value in each row

In [10]:
df.groupby('B')['D'].transform('count')

0    2
1    2
2    3
3    1
4    3
5    3
Name: D, dtype: int64

In [11]:
df.groupby('B')['D'].transform('sum')

0     7.0
1     7.0
2    19.0
3     1.0
4    19.0
5    19.0
Name: D, dtype: float64

#### Find the date that is 7 days prior to a given date

In [7]:
from datetime import timedelta
current_date = pd.to_datetime('2021-12-16')
prior_date = current_date - timedelta(days=7)
prior_date

Timestamp('2021-12-09 00:00:00')